<div class="w3-display-container" >
        <img src="assets/img/Panorama_tatier.jpg" style="width:100%">
        <div class="w3-display-bottomleft w3-container w3-amber"
         style="bottom:10%;opacity:0.7;width:70%">
        <h1>Mountain Lovers</h1>
       </div>
      </div>
<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a *ngIf=logged() routerLink="/events">Events</a></li>
  <li style="float:right"><a *ngIf=!logged() routerLink="/login">Login</a></li>
  <li style="float:right"><a *ngIf=!logged() routerLink="/register">Register</a></li>
  <li style="float:right"><a *ngIf=logged() routerLink="/logout">LogOut</a></li>
</ul>

