<div *ngIf="event">
        <button class= "delete" (click)="goBack()">go back</button>
        <button class= "save" (click)="save()">save</button>
        
        <button  class="cancel" title="delete event"
      (click)="delete(event)"> Delete Event </button>
        
        <h2>Details about the event</h2>

        <div> <label>Name: 
                        <input [(ngModel)] = "event.name" placeholder="name"/>
                </label></div>

        <div> <label>Location: 
                        <input [(ngModel)] = "event.location" placeholder="location"/>
                </label></div>

        <div> Period: {{event.startDate | date: 'mediumDate'}} to {{event.endDate |date: 'mediumDate'}} </div>

        <div> <label>Description:
                        <input [(ngModel)] = "event.details" placeholder="details"/>
                </label></div>
      
        
</div>
