
<div class="w3-display-container" >
  <img src="assets/img/mountains.jpg" style="width:100%;">
  <div class="w3-display-middle w3-container w3-amber"
         style="bottom:10%;opacity:0.7;width:70%">
        <h1>Register</h1>
       </div>
  
</div>

        <div>
        <form (ngSubmit)="onSubmit()" #userRegisterForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
              required
              
            [(ngModel)]="model.username" name="username"
            #username="ngModel">
            <div [hidden]="username.valid || username.pristine"
            class="alert alert-danger">Username is required and must have at least 5 characters</div>
          </div>
      
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
              required
              
            [(ngModel)]="model.password" name="password"
            #password="ngModel">
            <div [hidden]="password.valid || password.pristine"
            class="alert alert-danger">Password must have at least 8 characters</div>
          </div>
      
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email"
              required
            [(ngModel)]="model.email" name="email"
            #email="ngModel">
            <div [hidden]="email.valid || email.pristine"
            class="alert alert-danger">An email is required</div>
          </div>
      
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName"
              required
            [(ngModel)]="model.firstName" name="firstName"
            #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine"
            class="alert alert-danger">First name is required</div>
          </div>
      
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName"
              required
            [(ngModel)]="model.lastName" name="lastName"
            #lastName="ngModel">
            <div [hidden]="lastName.valid || lastName.pristine"
            class="alert alert-danger">Last name is required</div>
          </div>
      
          <button type="submit" class="button" [disabled]="!userRegisterForm.form.valid">Register</button>
        </form>
      </div>
      